Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a=" string "
b=[1,2,4,6,5,3,8,"pw skils",'data science']
c=2.33
d=('APPLE','ORANGE ','BANANA','GRAPHS')

In [2]:
type(a)

str

In [3]:
type(b)

list

In [4]:
type(c)

float

In [5]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [10]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [11]:
type(var1)

str

In [12]:
type(var2)

str

In [13]:
type(var3)

list

In [14]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
10/5  #division

2.0

In [19]:
5%2  #remainder

1

In [20]:
10//2

5

In [21]:
10//3  # floor division

3

In [3]:
2**10 #power operator

1024

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
lst=[1,2.31,'strings',4,4==5,[1, 2, 3],True,None,(8,3,9,1),{'name': 'John', 'age': 25}]
print(len(lst))

for element in lst:
    print(type(element))

10
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>
<class 'bool'>
<class 'NoneType'>
<class 'tuple'>
<class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

print("Number A can be divided by number B", count, "times.")

Enter number A:  23425332
Enter number B:  12

Number A can be divided by number B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
my_list = [8, 15, 3, 27, 10, 5, 21, 18, 7, 13, 30, 12, 9, 17, 22, 6, 11, 20, 24, 2, 4, 19, 14, 1, 16]

for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

8 is not divisible by 3
15 is divisible by 3
3 is divisible by 3
27 is divisible by 3
10 is not divisible by 3
5 is not divisible by 3
21 is divisible by 3
18 is divisible by 3
7 is not divisible by 3
13 is not divisible by 3
30 is divisible by 3
12 is divisible by 3
9 is divisible by 3
17 is not divisible by 3
22 is not divisible by 3
6 is divisible by 3
11 is not divisible by 3
20 is not divisible by 3
24 is divisible by 3
2 is not divisible by 3
4 is not divisible by 3
19 is not divisible by 3
14 is not divisible by 3
1 is not divisible by 3
16 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [12]:
#Immutable data types cannot be modified after they are created. 
#Examples of immutable data types are integers, floats, strings, and tuples.

x = 5
print("Original value of x:", x)

x = 10  # Assigning a new value to x

print("Modified value of x:", x)

#Mutable data types can be modified after they are created. 
#Examples of mutable data types include lists.


lst = [1, 2, 3]
print("Original list:", lst)

lst.append(4)  # Modifying the list by adding an element

print("Modified list:",lst)

Original value of x: 5
Modified value of x: 10
Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]